<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>person1</title>
	<link rel="stylesheet" href="/index.css">
	<link rel="stylesheet" href="/shangge.css">
</head>
<body>
	<div class="yinc col-md-hid">
		<a href="">
			<img src="img/sy.png" alt="" width="79px" height="46px">
		</a>
	</div>
	<div class="header container-fluid">
		<div class="cover container-fluid"></div>
		<div class="con container col-md-12 col-sm-hid">
			<a href="">首页</a>
			<a href="">关于我</a>
			<a href="">教育实践</a>
			<a href="">工作经历</a>
			<a href="">知识技能</a>
			<a href="">联系方式</a>
		</div>
		<div class="ming container">马 浩 东</div>
		<div class="ying container">英文名称：haodong</div>
		<div class="ling container">网站设计师，全栈工程师</div>
		<div class="wei container">
			<div class="one"></div>
			<div class="one qq"></div>
			<div class="one ww"></div>
			<div class="one ee"></div>
		</div>
		<div class="jian">
		  >
		</div>
	</div>
	<div class="one1 container-fluid">
		<div class="two container">
			<div class="left col-md-5 col-sm-12">
				<div class="tu"></div>
			</div>
			<div class="right col-md-7 col-sm-12">
				我吃苦耐劳，工作认真，能很快适应新环境，处事冷静，学习能力较强，对自己要求严格，条理性强，善于整理，具有良好的团队精神和较强的组织能力，具有扎实的会计专业知识和较强的实务操作技能，能熟练地运用用友、金碟财务软件，熟练各类办公软件，拥有《会计从业资格证》、《中级电算化合格证书》、《全国计算机一级证》。专业能力：掌握了商务文秘的基本知识，求职简历网如档案学、文秘写作、办公自动化、公共关系学、国际贸易、形体训练、管理学。吃苦耐劳，工作认真，能很快适应新环境，处事冷静，学习能力较强，对自己要求严格，条理性强，善于整理，具有良好的团队精神和较强的组织能力，具有扎实的会计专业知识和较强的实务操作技能，能熟练地运用用友、金碟财务软件，熟练各类办公软件，拥有《会计从业资格证》、《中级电算化合格证书》、《全国计算机一级证》。练地运用用友、金碟财务软件，熟练各类办公软件，拥有《会计从业资格证》、《中级电算化合格证书》、《全国计算机一级证》。
			</div>
		</div>
	</div>
	<div class="mnnm container">教育和培训
		<span></span>
	</div>
	<div class="jiaoyu container">
		<div class="row">
			<div class="left col-md-4 col-sm-12">
				<div class="title">
					教育经历
				</div>
			</div>
			<div class="right col-md-8">
				<div class="box">
					<div class="title1">
						<span>2010年/03月–2013年 /04月</span> 
					</div>
					<div class="title2">
						江南大学
					</div>
					<div class="con">
						综合学习了会计方面和计算机方面的知识。具体学习的计算机语言有TRUE Basic、汇编语言、C语言、Pascal语言等。主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 
					</div>
				</div>
				<div class="box">
					<div class="title1">
						<span>2010年/03月–2013年 /04月</span> 
					</div>
					<div class="title2">
						江南大学
					</div>
					<div class="con">
						综合学习了会计方面和计算机方面的知识。具体学习的计算机语言有TRUE Basic、汇编语言、C语言、Pascal语言等。主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 
					</div>
				</div>
				<div class="box">
					<div class="title1">
						<span>2010年/03月–2013年 /04月</span> 
					</div>
					<div class="title2">
						江南大学
					</div>
					<div class="con">
						综合学习了会计方面和计算机方面的知识。具体学习的计算机语言有TRUE Basic、汇编语言、C语言、Pascal语言等。主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bai container"></div>
	<div class="xian container"></div>
	<div class="bai container"></div>
	<div class="jiaoyu container">
		<div class="row">
			<div class="left col-md-4 col-sm-12">
				<div class="title">
					工作经验
				</div>
			</div>
			<div class="right col-md-8">
				<div class="box">
					<div class="title1">
						<span>2010年/03月–2013年 /04月</span> 
					</div>
					<div class="title2">
						江南大学
					</div>
					<div class="con">
						主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 
					</div>
				</div>
				<div class="box">
					<div class="title1">
						<span>2010年/03月–2013年 /04月</span> 
					</div>
					<div class="title2">
						江南大学
					</div>
					<div class="con">
						综合学习了会计方面和计算机方面的知识。具体学习的计算机语言有TRUE Basic、汇编语言、C语言、Pascal语言等。主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 
					</div>
				</div>
				<div class="box">
					<div class="title1">
						<span>2010年/03月–2013年 /04月</span> 
					</div>
					<div class="title2">
						江南大学
					</div>
					<div class="con">
						综合学习了会计方面和计算机方面的知识。具体学习的计算机语言有TRUE Basic、汇编语言、C语言、Pascal语言等。主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 主要工作职责:1.负责协助经理工作流程的设计和完善，完善中央处理器的测试用例，执行测试任务，加强与其他部门沟通协调。 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bai container"></div>
	<div class="xian container"></div>
	<div class="bai container"></div>
	<div class="jiaoyu container">
		<div class="row">
			<div class="left col-md-4 col-sm-12">
				<div class="title">
					知识技能
				</div>
			</div>
			<div class="right col-md-8">
				<div class="box1">
					<div class="con">
						熟悉掌握TCP/IP、SNMP/SMTP协议，拥有扎实的Internet网络的基本知识，熟练掌握网络系统，体系架构；熟悉软件测试理论和方法，熟练系统测试用例的编写，熟悉软件测试过程，并能够分析测试中发现的问题，较强的逻辑分析和解决问题的能力并对软件测试具有浓厚的兴趣。掌握测试管理软件，如JIRA.Bugfree；熟悉自动化测试工具；独立搭建测试环境；熟悉SQL-Server的基本操作，掌握Oracle；熟悉SHELL脚本语言，具有C#/HTML语言基础，ant构建工具等，CMMI-过程集成与产品改进指南。 
					</div>
					<div class="zi">PHOTOSHOP</div>
					<div class="hong">
						<span class="z1"></span>
					</div>
					<div class="zi">ILLUSTRATOR</div>
					<div class="hong">
						<span class="z2"></span>
					</div>
					<div class="zi">BITWEBCMS</div>
					<div class="hong">
						<span class="z3"></span>
					</div>
					<div class="zi">CSS</div>
					<div class="hong">
						<span class="z4"></span>
					</div>
					<div class="zi">HTML5</div>
					<div class="hong">
						<span class="z5"></span>
					</div>
					<div class="zi">JQUERY</div>
					<div class="hong">
						<span class="z6"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="zuopin container-fluid">
		<div class="ooo container">个人作品</div>
		<div class="img-box container">
			<div class="imi io1">
				<a href="">
					<img src="img/xx1.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
			<div class="imi io2">	
				<a href="">	
					<img src="img/xx2.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
			<div class="imi io3">
				<a href="">
					<img src="img/xx3.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
			<div class="imi io4">
				<a href="">
					<img src="img/xx4.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
			<div class="imi io8">
				<a href="">
					<img src="img/xx5.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
			<div class="imi io8">
				<a href="">	
					<img src="img/xx6.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
			<div class="imi io8">
				<a href="">	
					<img src="img/xx7.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
			<div class="imi io8">
				<a href="">	
					<img src="img/xx8.jpg" alt="" width="250px" height="250px">
				</a>
			</div>
		</div>
	</div>
	<div class="banner0 container-fluid">
		<div class="zi container">Photographs  show</div>
		<div class="imgo container"></div>
		<div class="dian container">
			<a href=""></a>
			<a href="" class="nm"></a>
		</div>
	</div>
	<div class="last container-fluid">
		<div class="lian container">联系我吧</div>
		<div class="tel container">电话: <a href="">17835424121</a></div>
		<div class="tel container">邮箱: <a href="">17835424121@163.com</a></div>
		<div class="tuu container">
			<div class="one"></div>
			<div class="one qq"></div>
			<div class="one ww"></div>
			<div class="one ee"></div>
			<div class="one mm"></div>
		</div>
		<div class="monst container">
		版权所有 ©2018 – 2117 马浩东的个人简介
		</div>
	</div>
</body>
</html>